<template>
  <section>
    <div class="flex">
      <div class="max-w-xs">
        <label for="wallet" class="block text-sm font-medium text-gray-700"
          >Тикер</label
        >
        <div class="mt-1 relative rounded-md shadow-md">
          <input
            @input="generateCoinsHelper"
            v-on:keyup.enter="add"
            v-model="ticker"
            type="text"
            name="wallet"
            id="wallet"
            class="block w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md"
            placeholder="Например DOGE"
          />
        </div>

        <div
        v-if = "helperCoins.length"
          class="flex bg-white shadow-md p-1 rounded-md shadow-md flex-wrap"
        >
        	<span
        		v-for="t in helperCoins"
          	:key="t.Symbol"
          	@click="add(t)"
            class="inline-flex items-center px-2 m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer"
          >
            {{t.Symbol}}
          </span>
        </div>

        <div class="text-sm text-red-600" v-show="tickerAdded">Такой тикер уже добавлен</div>
      </div>
    </div>

    <add-button @click="add" type="button" class="my-4" :disabled="disabled"></add-button >

  </section>
</template>

<script>
import AddButton from './AddButton.vue';

export default {
  components: {
    AddButton
  },

  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    coins: {
      type: Array,
      required: false,
    },
    tickerAdded: {      
      type: Boolean,
      required: false,
      default: false
    }
  },

  data() {
    return {
      ticker: "",
      helperCoins: []
    }
  },

  methods: {
    add(ticker) {
      this.ticker = (ticker != null) ? ticker.Symbol : this.ticker;

      this.helperCoins = [];

      if (this.ticker.length === 0) {
        return;
      }
      this.$emit('add-ticker', this.ticker);

      this.ticker = "";
    },
    generateCoinsHelper() {
      this.helperCoins = (this.ticker) ? this.coins.filter(coin => ( coin.Symbol.toLowerCase().includes(this.ticker.toLowerCase()) ) ) : [];
    }
  }

};

</script>